.main {
    justify-content: center;
    background-color: antiquewhite;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    border-radius: 12px;
    height: 700px;


}

.title{
    display: flex;
    justify-content: center;
    font-size: 400%;

}

.p{
    text-align: center;
    font-size: x-large;
    display: block;
    margin-bottom: 10px;

}

.section{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;

}


.member button{
    width: 50%;
    display: flex;
    justify-content: center;
    margin:auto;
    margin-top: +50px;
    height: 30px;
    background-color: aqua;
    font-size: large;
    border-radius: 8px;
}
.member{
    background-color: grey;
    display: inline-block;
    width: 40%;
    height: 300px;
    border-radius: 8px;
}

.member h1{
    margin-top: +50px;
text-align: center;
}

.sigin{
    background-color: grey;
    width: 40%;
    height: 300px;
    border-radius: 8px;

}


.sigin button{
    width: 50%;
    display: flex;
    justify-content: center;
    margin:auto;
    margin-top: +50px;
    height: 30px;
    background-color: aqua;
    font-size: large;
    border-radius: 8px;
}
.sigin h1{
    margin-top: +50px;

    text-align: center;
    }